PORT=5001
MONGO_URI=mongodb+srv://uni-sport-admin:admin12345@cluster0.wpc7fqc.mongodb.net/unisporthub
JWT_SECRET=unisporthub_secret_key
JWT_EXPIRE=7d

# Email notifications (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=unisporthubsport@gmail.com
SMTP_PASS=tyud pvqs xaou fign
SMTP_FROM=unisporthubsport@gmail.com
